body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background-color: #ffffff;
  
}

a {
  color:#ffb703;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif;
}

.img1{
  width: 550px;
  height: 300px;
  padding-bottom: 12px;
}

.img2{
  width: 90px;
  height: 80px;
  padding: 10px;
  margin-left: 15px;
  float: left;
  
}

.container1{
  position: relative;
  text-align: center;
  color: white;
}

.intro-text{
  position: absolute;
  top: 35%;
  left: 5%;
  
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
.card{
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  border-radius: 8px;
  border: #fff;
}
.checked{
  color: orange;
}

#header {
  z-index: 997;
  padding: 0px;
  
}

#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
}

#header  h1 {
  font-size: 40px;
  margin-top: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  color: #023047;
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 17px;
  font-weight: 400;
  color: #555555;
  white-space: nowrap;
  
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #023047;
  text-decoration: underline;
}

section {
  padding: 30px 0;
  overflow: hidden;
  border-bottom: 20px;
}

.section-bg {
  background-color: #fcf399b5;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
 
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  color: #222222;
}

.section-title p {
  margin: 15px 0 0 0;
}

.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.btn-explore {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  line-height: 1;
  color: white;
  margin-top: 6px;
  border: 2px solid white;
}

.btn-explore:hover {
  background: #ffb703;
  color: #fff;
  text-decoration: none;
}

.btn-view {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  line-height: 1;
  color: #ffb703;
  margin-top: 6px;
  border: 2px solid #ffb703;
}

.btn-view:hover {
  background: #ffb710;
  color: #fff;
  text-decoration: none;
}

.counts .content h3 {
  font-weight: 700;
  font-size: 34px;
  color: #222222;
}

.counts .content .count-box {
  padding: 20px ;
  margin-top: 10px;
  width: 100%;
}

.counts .content .count-box i {
  display: block;
  font-size: 38px;
  color: #ffb703;
  float: left;
  line-height: 0;
}

.counts .content .count-box p {
  padding: 10px 0 0 0;
  margin: 0 0 0 50px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #484848;
}

.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  border-radius: 8px;
  z-index: 1;
}

.services .icon {
  margin: 5px;
  padding-top: 13px;
  display: inline-block;
  text-align: center;
  border-radius: 60%;
  width: 60px;
  height: 60px;
  background: #ffb703;
 
}

.services .icon i {
  font-size: 35px;
  align-items: center;
  line-height: 1;
  color: #fff;
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #111;
}

.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.more-services {
  padding-top: 20px;
}

.more-services .card {
  border: 0;
  padding: 160px 20px 20px 20px;
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

.more-services .card-body {
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.9;
  padding: 15px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  transition: ease-in-out 0.4s;
  border-radius: 5px;
}

.more-services .card-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.more-services .card-title a {
  color: #222222;
}

.more-services .card-text {
  color: #5e5e5e;
}

.more-services .read-more a {
  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.4s;
}

.more-services .read-more a:hover {
  text-decoration: underline;
}

.star{
  letter-spacing: 4px;
}

.social-links{
  color: #ffb703;
}
#footer {
  background: #fff;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  color: #222222;
  font-size: 14px;
}



